@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* comentario comentario comentario comentario comentario comentario comentario 
main{
  padding: 8rem 2rem;
  border: 10px blue;
  margin: 5rem;
  border-radius: 2rem;
}


.parrafo {
    line-height: 1,5;
    color: red;
    font-family: sans-serif;


} */
body {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: "oswald", sans-serif;
    font-weight: 600;
    font-style: normal;
}
header {
    background-color: yellow;
    grid-column-start:1 ;
    grid-column-end: 4;
    
}
main{
    grid-column-start:1 ;
    grid-column-end: 3;
    padding: 1rem;

}
footer {
    background-color: gray;
    padding: 2rem;
    grid-column-start:1 ;
    grid-column-end: 4;
}
h1{
  font-family:"oswald";
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  line-height: 0.2;
  padding-bottom: 1rem;

}
p{
    font-family: "oswald";
    font: weight 1px;;

}
header a {
    text-decoration: none;
    color: #645300;
    font-size: larger;
    

}
header a:hover{
    color: rgb(127, 124, 90);
}
figcaption{
    font-family: "oswald", serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
    padding: 1rem 0;

}
pre, cite{
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;

}
cite{
    font-size: 2rem;
}
img{
    object-fit: cover;
    width: 50;
}
h2 {
    color: #645300;
    padding: 8rem 2rem;
    margin: 5rem;
    
    background-color: rgb(255, 255, 136);
}
h2 a{
    
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    text-decoration: none;
    color: #645300;
    font-size: larger;
    
}
h2 a:hover{
    color: rgb(127, 124, 90);
}